.page-start{

	body{
		display:grid;
		grid-template-columns:1fr;
		grid-template-rows:1fr 1fr 1fr;
		color:#F2E9D9;
	}
	
	main{
		background-color:#002638;
	}

	main h1{
		display:grid;
		grid-column:1;
		grid-row:2;
	}

}